@using Library.Domain
@model IEnumerable<Book>;

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
               
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                </div>
            </div>
        </div>
    }
</div>